gossip_pca
*.fvec
data/*
lib/*
CMakeFiles/
CMakeCache.txt
.cproject
.project
.*
results/*
gossip_svm
sparse_gossip_svm
test_vector_sparse
config.propertie*
/plantaquatix
agsvm
Makefile
agsvm
fvec_l2normalize
sparse_agsvm
t.txt 
test_classifier
